@model chat.Modelos.Mensaje

<h1>Enviar Mensaje</h1>
<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="GrupoId" class="control-label">Grupo</label>
        <select asp-for="GrupoId" class="form-control" asp-items="ViewBag.GrupoId" onchange="this.form.submit()">
            <option value="">Seleccionar Grupo</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="UserRemitenteId" class="control-label">Remitente</label>
        <select asp-for="UserRemitenteId" class="form-control" asp-items="ViewBag.UserRemitenteId"></select>
    </div>

    <div class="form-group">
        <label asp-for="UserDestinatarioId" class="control-label">Destinatario</label>
        <select asp-for="UserDestinatarioId" class="form-control" asp-items="ViewBag.UserDestinatarioId"></select>
    </div>

    <div class="form-group">
        <label asp-for="Contenido" class="control-label">Contenido</label>
        <textarea asp-for="Contenido" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="UrlArchivo" class="control-label">Archivo (opcional)</label>
        <input asp-for="UrlArchivo" class="form-control" type="file" name="archivoAdjunto" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <a href="@Url.Action("Index", "Mensajes")" class="btn btn-secondary">Cancelar</a>
</form>

