@model chat.Modelos.Mensaje

<h1>Enviar Mensaje</h1>
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserRemitenteId" class="control-label">Remitente</label>
        <select asp-for="UserRemitenteId" class="form-control" asp-items="ViewBag.UserRemitenteId"></select>
    </div>

    <div class="form-group">
        <label asp-for="UserDestinatarioId" class="control-label">Destinatario</label>
        <select asp-for="UserDestinatarioId" class="form-control" asp-items="ViewBag.UserDestinatarioId"></select>
    </div>

    <div class="form-group">
        <label asp-for="GrupoId">ID del Grupo (Opcional)</label>
        <select asp-for="GrupoId" class="form-control" asp-items="ViewBag.GrupoId"></select>
    </div>
    <div class="form-group">
        <label for="Contenido">Contenido del Mensaje</label>
        <textarea class="form-control" asp-for="Contenido" required></textarea>
    </div>
   
    <button type="submit" class="btn btn-success">Enviar</button>
    <a href="@Url.Action("Index", "Mensajes")" class="btn btn-secondary">Cancelar</a>
</form>

